@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<head>
    @Html.Raw(ViewBag.MetaRefresh)
</head>
<body>
    @ViewBag.MetaRefresh = "<meta http-equiv='refresh' content='0;url=Login' />";
</body>
